[General]
RepoType=AzureRepos
ApiKey=e3c2049e8c1042ada4d8f28c31c553fbd494b1cd1c604affbce29e26c199566b
WssUrl=https://saas-eu.whitesourcesoftware.com/agent

RepoAuthToken=
RepoUsername=
RepoProject=WSI

#RepoBranch=
RepoTag=

#ParallelReposScan=
#MaxReposToScan=

[AzureDevOps]
#AzureURL=
RepoCloneToken=
RepoOrganization=

[Bitbucket]
# to create auth token: https://bitbucket.org/site/oauth2/authorize?client_id={key}&response_type=token

[GitLab]
RepoGroupId=
